html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --form-outline: #999;
  --background-color: #fff;
}

.sectionSignUp {
  margin: 5rem auto;

  max-width: 60rem;
}

.signUpForm {
  max-width: 100%;
  display: grid;
  grid-template-columns: 3fr 9fr 12fr 9fr 12fr;
  column-gap: 1.2rem;
  row-gap: 1.8rem;
  align-items: center;
}

.formIcon {
  justify-self: center;
  font-size: 1.4rem;
}

.notesIcon {
  align-self: start;
  padding-top: 0.6rem;
}

.col--span2 {
  grid-column-start: span 2;
}

.col--span4 {
  grid-column-start: span 4;
}

.row--span3 {
  grid-row-start: span 2;
}

.inputForm,
.selectForm {
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  border: 1px var(--form-outline) solid;
  background-color: var(--background-color);
}

.phoneContainer {
  position: relative;
}

.phoneLegend {
  position: absolute;
  background-color: var(--background-color);
  font-size: 0.8rem;
  left: 10px;
  top: -5px;
  padding: 0 3px;
  color: var(--form-outline);
}

.phoneInput {
  width: 100%;
}

.textAreaForm {
  resize: none;
}

@media (max-width: 900px) {
  .sectionSignUp {
    max-width: 40rem;
  }

  .signUpForm {
    max-width: 100%;
    grid-template-columns: 3fr 50px 12fr 9fr 12fr;
  }

  .firstNameQ,
  .companyNameQ {
    grid-column: span 4;
  }
  .lastNameQ,
  .jobTitleQ {
    grid-column: 2 / span 4;
  }
}

@media (max-width: 600px) {
  .sectionSignUp {
    max-width: 250px;
  }
  .signUpForm {
    max-width: 250px;
    grid-template-columns: 30px 50px 80px 50px;
  }

  .firstNameQ,
  .companyNameQ,
  .emailAdressQ,
  .textAreaForm {
    grid-column: span 3;
  }
  .lastNameQ,
  .jobTitleQ,
  .phoneLabelQ,
  .birthYearQ {
    grid-column: 2 / span 3;
  }
}
