@font-face {
  font-family: "Gotham";
  font-weight: bold;
  font-style: normal;
  src: url(/fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: "Gotham";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/GothamMedium.ttf);
}

@font-face {
  font-family: "Gotham";
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/Gotham-book.otf);
}
